html{
    font-size: 10px;
}
body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-align: center;
    color: #222;
    margin: 0;
    background-color: black;
}

#info{
    background: #aaa;
}

h1 {
    font-size: 4rem;
    margin-bottom: 0;
    color: #fff;
}

@media (max-width: 460px){
    h1{
        font-size: 3.5rem;
        line-height: 1.2;
    }
}

h3 {
    font-size: 3.25rem;
  }
  
  a {
    color: blue;
  }

a:visited {
    color: purple;
}

#main {
    margin: 0px 8px;
    padding: 0px;
    border-radius: 5px;
    background: color #000;;
  }
  
  @media (max-width: 460px) {
    #main {
      margin: 0;
    }
  }

#subtitle{
    background-color: #000;
    color: #eee;
    margin:0 0 10px 0;
  }

#headline {
  margin: 0;
  text-align: center;
  background-color: #aaa;
  color:#222;
  padding: 20px 0;
}

#main {
    margin: 0px 8px;
    padding: 0px;
    border-radius: 5px;
    background: color #000;;
  }

  img {
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
    background-color: #111;
  }

  #img-div {
    background: white;
    padding: 0px;
    margin: 0;
    background-color:#111;
    padding: 10px 0 10px 0;
  }
  
  #img-caption {
    padding: 10px 0 5px 0;
    color: #ddd;
  }

  @media (max-width: 460px) {
    #img-caption {
      font-size: 1.4rem;
    }
  }

  #title{
    background-color: #000;
    color: #fff;
    margin:10px 0 0 0;
    
  }
  #subtitle{
    background-color: #000;
    color: #eee;
    margin:0 0 10px 0;
  }
  
  #headline {
    margin: 0;
    text-align: center;
    background-color: #aaa;
    color:#222;
    padding: 20px 0;
  }

  
  ul {
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
  }
  
  li {
    margin: 16px 0;
  }
  
  blockquote {
    font-style: italic;
    max-width: 545px;
    margin: 0 auto 50px auto;
    text-align: left;
    border:1px solid #222;
    padding: 5px 15px 20px 20px;
  }